.App {
  text-align: center;
}

.Title {
  color: #e0d4cb; /* #222427; */
  background-color: #543720;
  height: 100px;
  /*min-height: 8vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(35px + 1vmin);
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}



/*---------------------------ItemList.tsx---------------------------*/

.Listing {
  background-color: #543720;
  height: 170px;
  /*min-height: 8vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}


.listingBox {
  background-color: #543720;
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #e0d4cb;
  color: #e0d4cb; 
  border-radius: 8px;
}
.listingBox .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background-color: #543720;
  color: #e0d4cb;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}
.listingBox p {
  margin: 0; 
  padding: 0;
}


/* ListingとitemListの間隔調節 */
.adjustment {
  height: 1px;
  background: #543720;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  /*grid-row-end: 3;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*---------------------------ItemList.tsx---------------------------*/

/* 商品一覧をグリッド状に展示する */
.listGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  background: #543720;
}


.ItemList {
  background-color: #e0d4cb;
  min-height: 8vh;
  display: flex;
  margin: 0.5em 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 1vmin);
  color: #d5c1b3;
}

.item_box {
  width: 10em;/* 紙の横幅 100%にすると全幅表示に */
  padding: 15px;
  margin: 2em auto;
  text-align: center;
  background: #f5efa3;/* 紙の色 */
  color: #000;/* 文字色 */
  box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
  word-break: break-all;
}

.item_box_tape {
   width: 50%;
   height: 35px;
   margin: -27px auto 0;
   background: #444444; /*#989898 */
   transform: rotate(-3deg);
   opacity: 0.1;
}

.likeButton {
  background-color: rgb(231, 76, 60);
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}


.submitButton {
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  background-color: #99aa9c;
  color: #f5efa3;
  transition: 0.5s;
}
 
.submitButton:hover {
  transform: scale(1.1, 1.1);
}

